body {
    background-color: #111;
    color: #ccc;
}

p{
    color: lime;
}

.c_red {
    color: red;
}

.c_orange{
    color: orange;
}

.large_text {
    font-size: 24px;
}

#p1{
    color: yellow;
}
